body {
    text-align: center;
    background-image:url(big.gif);
    background-size: 100%;
    margin-top: 270px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

button {
  color: transparent ;
  background: transparent;
  border: 2px solid #65508A; 
  font-size: 40px;
  padding: 20px;
  border-radius: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

button:hover{
  transition: 2s;
  background-color: #65508A;
  color:palegoldenrod;
}